@charset "UTF-8";

.ui-messages-warn {
	background-color: rgb(194, 224, 200) !important;
	border-color: rgb(104, 159, 56) !important;
	color: rgb(104, 159, 56) !important;
}

.ui-messages-close {
	background-color: rgb(194, 224, 200) !important;
	color: rgb(104, 159, 56) !important;
}

.ui-messages-warn-icon {
	color: rgb(104, 159, 56) !important;
}

.btnLocalizar {
	background-color: rgb(194, 224, 200) !important;
	border-color: rgb(104, 159, 56) !important;
	color: rgb(104, 159, 56) !important;
}

#btnLocalizarDiv {
	display:flex; 
	justify-content:center; 
	align-items:center; 
	padding-top: 30px;
}

#btnGoHomeDiv {
	display: flex; 
	justify-content: center; 
	margin-bottom: 25px
}

#btnGoListagemDiv {
	display: flex; 
	justify-content: center; 
	margin-bottom: 25px
}

.panelFiltro {
	display: flex;
	justify-content: center;
	text-align: center;
}

#panelFiltroDiv {
	display: flex;
	justify-content: center;
}

#panelFiltroTabela {
	display: flex;
	justify-content: center;
}