@charset "UTF-8";

#btnLocalizarDiv {
	display:flex; 
	justify-content:center; 
	align-items:center; 
	padding-top: 30px;
}

#btnGoHomeDiv {
	display: flex; 
	justify-content: center; 
	margin-bottom: 25px
}

#btnGoListagemDiv {
	display: flex; 
	justify-content: center; 
	margin-bottom: 25px
}

.panelFiltro {
	display: flex;
	justify-content: center;
	text-align: center;
}

#panelFiltroDiv {
	display: flex;
	justify-content: center;
}

#panelFiltroTabela {
	display: flex;
	justify-content: center;
}