@charset "UTF-8";

#panelIndex {
	display: flex;
	justify-content: center;
}

#botaoSalvarIndex {
	display:flex; 
	justify-content:center; 
	align-items:center; 
	padding-top: 10px;
}

.panelHeader {
	text-align: center;
	font-weight: bold;
}